/sources/Flashcards/Library/*
/sources/Flashcards/Temp/*
/sources/Flashcards/Assembly-CSharp-Editor-vs.csproj
/sources/Flashcards/Assembly-CSharp-Editor.csproj
/sources/Flashcards/Assembly-CSharp-firstpass-vs.csproj
/sources/Flashcards/Assembly-CSharp-firstpass.csproj
/sources/Flashcards/Assembly-CSharp-vs.csproj
/sources/Flashcards/Assembly-CSharp.csproj