/sources/OrthoSono/Library/*
/sources/OrthoSono/Temp/*
/sources/OrthoSono/Assembly-CSharp-Editor-vs.csproj
/sources/OrthoSono/Assembly-CSharp-Editor.csproj
/sources/OrthoSono/Assembly-CSharp-firstpass-vs.csproj
/sources/OrthoSono/Assembly-CSharp-firstpass.csproj
/sources/OrthoSono/Assembly-CSharp-vs.csproj
/sources/OrthoSono/Assembly-CSharp.csproj